{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/profile/profile-base.css" />
<link rel="stylesheet" type="text/css" href="/static/css/modules/module-base.css" />
<link rel="stylesheet" type="text/css" href="/static/css/planes/planes.css" />
{% endblock css %}

{% block js %}
<script src="/static/js/planeshift-api.js"></script>
<script src="/static/js/planeshift-viewmodel.js"></script>

<script type="text/javascript" charset="utf-8">
	var planeshift_view_model = new PlaneshiftViewModel();

	document.addEventListener('DOMContentLoaded', function () {
		ko.applyBindings(planeshift_view_model);

		var username = '{{user.username}}';
		planeshift_view_model.get_plane_list_for_user(username);
		planeshift_view_model.get_module_list_for_user(username);
	});

</script>
{% endblock %}

{% block content %}
<h1 class="page-heading">Profile Page</h1>
<div class="page-summary">
	<p>Welcome to Planeshift. Get a quick overview of what planes you can shift to and what modules you currently own. Be chill, stay cool.</p>
</div>

<div class="divider"></div>

<section class="center-content">

	<div class="heading">
		<h2>
			<i class="fa fa-globe" aria-hidden="true"></i>
			<span>Your Planes</span>
		</h2>
		<a href="/planes/create">
			<button class="btn badge badge--foldable" >
			<i class="fa fa-plus" aria-hidden="true"></i>
			<span>New plane</span>
			</button>
		</a>
	</div>


	
	<em data-bind="if: plane_list().length==0">No currently active planes.</em>
	<div data-bind="foreach: plane_list()">
		<a class="list-item-short rounded row" data-bind="attr: { href: '/planes/name/' + name }">
			<img class="module-icon" data-bind="attr: { src: picture }">
			<div class="plane-info">
				<div class="plane-title row">
					<span class="list-item-title" data-bind="text: name"></span>
					<span class="filler"></span>
					<!-- ko if: has_password -->
					<span class="badge badge--foldable">
						<i class="fa fa-lock fa-lg" aria-hidden="true"></i>
						<span>Password protected</span>
					</span>
					<!-- /ko -->
					<span class="badge">
						<i class="fa fa-user fa-lg" aria-hidden="true"></i>
						<span data-bind="text: users.length"></span>
					</span>
				</div>
			</div>
		</a>
	</div>


	<div class="divider"></div>

	<div class="heading">
		<h2>
			<i class="fa fa-microchip" aria-hidden="true"></i>
			Your Modules
		</h2>
		<a href="/modules/create">
			<button class="btn badge badge--foldable">
				<i class="fa fa-plus" aria-hidden="true"></i>
				<span>New module</span>
			</button>
		</a>
	</div>

	<em data-bind="if: module_list().length==0">You have not created any modules.</em>
	
	<ul data-bind="foreach: module_list">
	
		<a class="list-item-short list-item--fixed rounded row" data-bind="attr: { href: '/modules/name/' + name }">
	
				<img class="module-icon" data-bind="attr: { src: picture }">			

				<div class="plane-info">

					<span class="plane-title row">
				
						<span class="list-item-title list-item--short" data-bind="text: name"></span>
				
						<span class="filler"></span>
				
						<button class="btn badge badge--foldable" data-bind="event: { click: function(data, event) {
							event.stopPropagation();
							var success = planeshift.callback.redirect.to.profile();
							planeshift_view_model.remove_module(name, success);
						}}">
							<i class="fa fa-trash-o" aria-hidden="true"></i>
							<span>Delete</span>
						</button>
				
						<button class="btn badge badge--foldable" data-bind="event: { click: function (data, event) {
							event.stopPropagation();
							planeshift.callback.redirect.to.module_new_version(name)();
						}}">
							<i class="fa fa-upload" aria-hidden="true"></i>
							<span>New Version</span>
						</button>
				
					</span>

				</div>
				
		</a>



	</ul>
		

</section>

{% endblock %}
