{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/404.css" />
{% endblock css %}

{% block content %}
<section id="not_found" class="center-content">
	<h2>You are about to shift out of defined reality...</h2>
	<p>The plane <em>{{name}}</em> does not exist in our database. :/</p>
</section>

<div class="banner-1 img-filler"></div>

<section id="not_found" class="center-content">
	<h2>...turn back before it is too late!</h2>
</section>
{% endblock %}
