{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/modules/module-base.css" />

<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/ko.js"></script>
{% endblock css %}

{% block content %}
<section class="center-content">
	<p id="info" class="error"></p>

	<div class="form-box rounded center-content">
		<h1>Plane requires password</h1>
		<form action="" method="post" name="authenticate" class="form center-content">
			{{ form.hidden_tag()  }}
			{{ form.password(class="wide-form-field", placeholder='password') }}
			<input class="btn" type="submit" value="Authenticate">
		</form>
	</div>
</section>
{% endblock content %}
