{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/modules/module-base.css" />

<script src="/static/js/jquery-3.1.1.min.js"></script>
{% endblock css %}

{% block js %}
<script src="/static/js/planeshift-api.js"></script>
<script src="/static/js/planeshift-viewmodel.js"></script>
{% endblock js %}

{% block content %}
<script type="text/javascript" charset="utf-8">
	var planeshift_view_model = new PlaneshiftViewModel();

	document.addEventListener('DOMContentLoaded', function () {	
		ko.applyBindings(planeshift_view_model);
		planeshift_view_model.get_module_list()

		var module_select = document.getElementById('module');
		module_select.addEventListener('change', function(ev) {
			console.log(ev.target.value)
			planeshift_view_model.get_module(ev.target.value);
		}, false);
		
		var form = document.getElementById('create-form');
		form.addEventListener('submit', function(ev) {
			ev.preventDefault();
			planeshift_view_model.create_plane_from_form(form);
		}, false);

	});
</script>

<section class="center-content">

	<div class="form-box rounded center-content">

		<h1>Create new plane</h1>
		<p id="info" class="error"></p>

		<form id="create-form" class="form center-content" action="" method="post" enctype="multipart/form-data" name="plane-create">
			{{ form.hidden_tag()  }}
			{{ form.name(class="wide-form-field", placeholder='Plane name') }}
			{{ form.password(class="wide-form-field", placeholder='(Optional) Password') }}

			<select id="module" class="wide-form-field" data-bind="
				optionsCaption: 'Select module',
				options : module_list(),
				optionsText: 'name',
				optionsValue: 'name'
				"
			></select>
			
			<!-- ko if: current_module().name != '' -->
			<!-- <select id="version" class="wide-form-field" data-bind="
				optionsCaption: 'Select verison',
				options : current_module().versions
				"
			></select> -->
			<!-- /ko -->

			<div class="wide-form-field">
				{{ form.hidden }} Hide from public listing
			</div>

			<input type="submit" value="Create">

		</form>

	</div>

</section>

{% endblock content %}
