{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/planes/planes.css" />
{% endblock css %}

{% block js %}
<script src="/static/js/planeshift-api.js"></script>
<script src="/static/js/planeshift-viewmodel.js"></script>

<script type="text/javascript" charset="utf-8">
	var planeshift_view_model = new PlaneshiftViewModel();

	document.addEventListener('DOMContentLoaded', function () {	
		ko.applyBindings(planeshift_view_model);
		planeshift_view_model.get_plane_list();
	});
</script>
{% endblock js %}

{% block content %}
<div class="heading">
	<h1 class="page-heading">Public planes</h1>
	<a href="/planes/create">{{ macros.button_new_plane() }}</a>
</div>
<div class="page-summary">
	<p>Looking for a plane to join? Browse what is available here!</p>
</div>

<div class="divider"></div>

<ul class=center-content data-bind="foreach: plane_list">

	<a class="list-item-short rounded row"
		data-bind="attr: { href: '/planes/name/' + name }">

		<img class="module-icon" data-bind="attr: { src: picture }">

		<div class="plane-info">
			
			<span class="plane-title row">
				<h2 data-bind="text: name"></h2>
				<span class="filler"></span>
				<!-- ko if: has_password -->
				{{ macros.badge_password_protected() }}
				<!-- /ko -->
				{{ macros.badge_connected_users() }}
			</span>
			
			<span class="list-item-description row">
				<span class="list-item-label">Module</span>
				<span class="list-item-field" data-bind="text: module_name"></span>
				<span class="list-item-sep">-</span>
				<span class="list-item-field" data-bind="text: module_version"></span>
			</span>
		
		</div>
	
	</a>

</ul>

{% endblock %}
