{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/planes/planes.css" />
{% endblock css %}

{% block js %}
<script src="/static/js/planeshift-api.js"></script>
<script src="/static/js/planeshift-viewmodel.js"></script>
{% endblock js %}

{% block content %}
<script type="text/javascript" charset="utf-8">
	var planeshift_view_model = new PlaneshiftViewModel();

	document.addEventListener('DOMContentLoaded', function () {	
		ko.applyBindings(planeshift_view_model);
		planeshift_view_model.get_plane_list();
	});
</script>


<ul class=center-content data-bind="foreach: plane_list">
	<a class="module-brief rounded"
		data-bind="attr: { href: '/planes/name/' + name }">
		<img data-bind="attr: { src: picture }">
		<div class="">
			<h1 data-bind="text: name"></h1>
			<p data-bind="text: module_name"></p>
		</div>
		<!-- <i class="fa fa-unlock-alt fa-lg" aria-hidden="true"></i> -->
	</a>
</ul>

{% endblock %}
