{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/modules/module-base.css" />
<link rel="stylesheet" type="text/css" href="/static/css/modules/module-create.css" />

<script src="/static/js/jquery-3.1.1.min.js"></script>
{% endblock css %}

{% block content %}

	<script type="text/javascript" charset="utf-8">
		function create_module(name, short_desc, long_desc, picture) {
			var data = {
				name: name,
				short_desc: short_desc,
				long_desc: long_desc,
				picture: picture,
			};
			
			$.ajax({
				type: 'POST',
				url: '/api/modules/',
				data: JSON.stringify(data),
				dataType: 'json',
				processData: false,
				contentType: 'application/json; charset=utf-8',
				success: function(data) {
					window.location = '/modules/name/'+name;
				},
				error: function(response) {
					console.log(response)
					$('#info').html(response.responseJSON.msg);
				},
			});
		}

		function create_module_form(form) {
			// This is for modern browsers supporting the File API in HTML5.
			// var fd = new FormData(form);
			// create_module(fd.get('name'), fd.get('short_desc'), fd.get('long_desc'), fd.get('picture'));
			
			// This is for Safari
			var name       = $('#name')[0].value;
			var short_desc = $('#short_desc')[0].value;
			var long_desc  = $('#long_desc')[0].value;
			var picture    = $('#picture')[0].value;
			create_module(name, short_desc, long_desc, picture);
		}

		$(document).ready( function () {
			var form = document.getElementById('create-form');
			form.addEventListener('submit', function(ev) {
	  			ev.preventDefault();
	  			create_module_form(form);
			}, false);
		});
		
	</script>

	<section class="center-content">

		<div class="form-box rounded center-content">
			<h1>Create new module</h1>
			<!-- <p id="info" class="error"></p> -->

			<form id="create-form" class="form center-content" action="" method="post" enctype="multipart/form-data" name="module_create">
				{{ form.hidden_tag()  }}
			
				{{ form.name(
					class="wide-form-field",
					placeholder="Module name")
				}}
				{{ form.short_desc(
					class='wide-form-area',
					placeholder="Please, enter a short description")
				}}
				{{ form.long_desc(
					class='wide-form-area',
					placeholder="(Optional) Long description")
				}}
				{{ form.picture(
					class='wide-form-area',
					placeholder="(Optional) Picture, png encoded in base64")
				}}

				<input class="btn" type="submit" value="create">
			</form>
		</div>
	</section>
{% endblock content %}