{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/modules/module-base.css" />
<link rel="stylesheet" type="text/css" href="/static/css/modules/module-list.css" />
{% endblock css %}

{% block js %}
<script src="/static/js/planeshift-api.js"></script>
<script src="/static/js/planeshift-viewmodel.js"></script>
{% endblock js %}

{% block content %}
<script type="text/javascript" charset="utf-8">
	var planeshift_view_model = new PlaneshiftViewModel();

	document.addEventListener('DOMContentLoaded', function () {	
		ko.applyBindings(planeshift_view_model);
		planeshift_view_model.get_module_list();
	});
</script>

<ul class=center-content data-bind="foreach: module_list">
	<a class="module box rounded center-content" 
		data-bind="attr: { href: '/modules/name/' + name }">
		<!-- <div class="center-content"> -->
			<img data-bind="attr: { src: picture }">
		<!-- </div> -->
		<div class="">
			<h1 data-bind="text: name"></h1>
			<p data-bind="text: short_desc"></p>
		</div>
	</a>
</ul>

{% endblock %}