{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/modules/module-base.css" />
<link rel="stylesheet" type="text/css" href="/static/css/modules/module-info.css" />
{% endblock css %}

{% block js %}
<script src="/static/js/planeshift-api.js"></script>
<script src="/static/js/planeshift-viewmodel.js"></script>

<script type="text/javascript" charset="utf-8">
	var planeshift_view_model = new PlaneshiftViewModel();
	
	function delete_button_callback (data, event) {
		event.preventDefault();
		planeshift_view_model.remove_module('{{module_name}}');
	};

	document.addEventListener('DOMContentLoaded', function () {
		ko.applyBindings(planeshift_view_model);
		planeshift_view_model.get_module('{{module_name}}');
	});
</script>
{% endblock js %}

{% block content %}
<div class="center-content">
	<section class="module-wrapper section-content center-content">

		<div class="module-info">
			<img class="module-icon" data-bind="attr: { src: current_module().picture }">
			<!-- ko if: current_module().is_owner -->
			<a class="btn"
				data-bind="attr: { href: '/modules/upload/'+current_module().name }">
				<i class="fa fa-upload" aria-hidden="true"></i>
				New version
			</a>
			<!-- TODO: Move delete to suitable place and confimation modal or something. -->
			<a id="btn-delete" class="btn" href="" data-bind="event: {click: delete_button_callback}">
				<i class="fa fa-trash-o" aria-hidden="true"></i>
				Delete
			</a>
			<!-- /ko -->
		</div>

		<div class="module-content">
			<h1 class="module-name" data-bind="text: current_module().name"></h1>
			<div class="module-description"  data-bind="html: current_module().long_desc"></div>
		</div>

	</section>
</div>
{% endblock %}