{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/modules/modules.css" />
{% endblock css %}

{% block content %}
<section class="section-content center-content top-padding-md">
	<div class="half center-content">
		<img src="data:image/png;base64,{{module.picture}}">
	</div>
	<div class="half">
		<h1>{{module.name}}</h1>
		<h2>Version</h2>
		<p>{{form.version_list}}</p>
		<p>{{module.short_desc}}</p>
		<h2>Long description</h2>
		<p>{{module.long_desc}}</p>
		{% if is_owner %}
		<a href=/modules/upload/{{module.name}}>Upload new version</a>
		{% endif %}
	</div>
</section>
{% endblock %}