{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/modules/module-base.css" />

<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
{% endblock css %}

{% block content %}

	<script type="text/javascript" charset="utf-8">
		function uploadFile() {
			// var xhr = new XMLHttpRequest();
			var form = document.getElementById('upload-form');
			var fd = new FormData(form);

			// xhr.onload = function(data, error) {console.log(data, error)};

			// xhr.open("POST", );
			// xhr.send(fd);
			
			$.ajax({
				url: "/api/modules/{{module_name}}",
				error: function(response) {
					console.log(response)
					$('#info').html(response.responseJSON.msg);
				},
				data: fd,
				processData: false,
				dataType: 'json',
				success: function(data) {
					window.location = '/modules/name/{{module_name}}';
				},
				type: 'POST',
			});
		}
	</script>

	<section class="center-content top-padding-md">
		<h1>{{module_name}}</h1>

		<p id="info" class="error"></p>

		<form id="upload-form" action="" method="post" enctype="multipart/form-data" name="module_upload" class="center-content top-padding-md">
			{{ form.hidden_tag()  }}
		
			{{ form.version(placeholder="version") }}
			{% for error in form.version.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}

			<span> js {{ form.js() }} </span>
			{% for error in form.js.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
			
			<span> html {{ form.html() }} </span>
			{% for error in form.html.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}

			<span> css {{ form.css() }} </span>
			{% for error in form.css.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}

			<input type="submit" value="Upload">
		</form>
	</section>
{% endblock content %}
