{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/modules/module-base.css" />
<link rel="stylesheet" type="text/css" href="/static/css/modules/module-upload.css" />

<script src="/static/js/jquery-3.1.1.min.js"></script>
{% endblock css %}

{% block content %}

	<script type="text/javascript" charset="utf-8">
		function uploadFile(form) {
			var fd = new FormData(form);
			
			$.ajax({
				type: 'POST',
				url: "/api/modules/{{module_name}}",
				data: fd,
				processData: false,
				contentType: false,
				success: function(data) {
					window.location = '/modules/name/{{module_name}}';
				},
				error: function(response) {
					console.log(response)
					$('#info').html(response.responseJSON.msg);
				},
			});
		}

		$(document).ready( function () {
			var form = document.getElementById('upload-form');
			form.addEventListener('submit', function(ev) {
	  			ev.preventDefault();
	  			uploadFile(form);
			}, false);
		});

	</script>

	<section class="center-content top-padding-md">

		<div id="upload-box" class="center-content rounded">
			<h1>Upload new version</h1>
			<span>Current module: {{module_name}}</span>

			<form id="upload-form" action="" method="post" enctype="multipart/form-data" name="module_upload" class="center-content">
				{{ form.hidden_tag()  }}
			
				{{ form.version(placeholder="New version name") }}
				<dl>
					<dt>Javascript</dt>
					<dd>{{ form.js() }}</dd>
					<dt>HTML (optional)</dt>
					<dd>{{ form.html() }}</dd>
					<dt>CSS (optional)</dt>
					<dd>{{ form.css() }}</dd>
				</dl>
				<input type="submit" class="btn" value="Upload">
			</form>
		</div>
	</section>
{% endblock content %}
