h1 {
	margin-bottom: 0;
}

.module-info {
	margin-top: 1em;

	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-direction: column;

	width: 200px;
}

.module-info > * {
	margin-bottom: 20px;
}

.section-content {
	display: flex;
	flex-direction: row;

	align-items: flex-start; 

	/*width : 800px;*/

	background: #F8E4CC;

	border-style: solid;
	border-width: 0px;
	border-radius: 1em;
}

.module-name {
	font-size: 3em;
	height: 100px;
	margin : 0;
	padding: 0;
}

.module-icon {
	min-width: 200px;
	max-width: 200px;
	min-height: 200px;
	max-height: 200px;
	padding: 0;
}

.module-content {
	padding: 1em;
	width: 600px;
}
