h1 {
	margin: 0em;
	padding: 0em;
}

.module, .module:visited, .module:hover {
	text-decoration: none;
	color: inherit;
}

.heading {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left : 0.25em;
	padding-right: 2em;

	margin-top: 2em;
	margin-bottom: 0.5em;
	
	width: 40em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
