ul {
	list-style: none;
}

.delete-item:hover .fa-trash-o {opacity:0;}
.delete-item:hover .fa-trash   {opacity:100;}
.delete-item .fa-trash-o       {opacity:100;}
.delete-item .fa-trash         {opacity:0;}

p {
	max-width: 25em;
}

#version {
	margin-top: 2em;
	margin-bottom: 1em;
}

#upload-form dt {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#dropzone {
	padding: 2em 0 2em 0;
	min-width: 25em;
	max-width: 25em;
	min-height: 5em;
}

#dropzone-label * { pointer-events: none; }

#dropzone-label {
	color: #aaaaaa;
}

#files {
	position: absolute;
	top: -100em;
}

.file-list {
	padding: 0em 0em;
}

.list-row {
	width: 100%;
	display: inline-flex;
	justify-content: stretch;
}

.delete-item {
	width: 2em;
	height: 2em;
}

.list-row-text {
	display: inline-flex;
}

.file-name {
	vertical-align: middle;
	line-height: 2em;
	padding-left: 1em;
}

.file--highlight {
	background-color: #8FBCDB;
	border-radius: 5px;
}