h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1em;
	font-weight: bold;
}

ul {
	display: inline;

	padding: 0;
	margin : 0;

	list-style-type: none;
}

a, a:visited, a:hover{
	text-decoration: none;
	color: inherit;
}