/*
	Color scheme: http://www.colorcombos.com/color-schemes/423/ColorCombo423.html;
	153450 - darkest blue
	294052 - dark blue
	447294 - blue
	8FBCDB - light blue
	F4D6BC - linen
	F8E4CC - light linen
*/

.title {
	font-size: 4em;
	font-weight: 600;

	text-align: center;
}

.title-text {
	padding-right: 1em;
	padding-left : 1em;
	text-align: left;
}

section {
	width: 100%;
}

.section-content:first-child {
	margin-top: 2em;	
}

.section-content {
	display: flex;
	flex-direction: row;

	width : 900px;
	height: 300px;

	background-color: #F8E4CC;

	margin-bottom: 2em;

	border-style: solid;
	border-width: 0px;
	border-radius: 1em;
}

#about {
}

#img-filler {
	background: linear-gradient(to bottom, #8FBCDB 0%, #294052 100%);
	/*filter: blur(5px);*/
}

#stay-tuned {
	/*font-size: 50px;*/
}

.large-text {
	font-size: 2.5em;
}