<!DOCTYPE html>
<html>
	<head>
		{% if title %}
		<title>Planeshift - {{ title }}</title>
		{% else %}	
		<title>Planeshift</title>
		{% endif %}

		<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
		<link rel="stylesheet" href="/static/css/font-awesome.min.css">
		{% block css %}{% endblock css %}

		<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-debug.js"></script>
		{% block js %}{% endblock js %}
	</head>

	<body>
		{% include 'navbar.html' %}

		<div id="main-wrapper">
			<div id="main">
				{% block content %}{% endblock content %}
			</div>
		</div>

		{% include 'footer.html' %}
	</body>
</html>
