{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/dev-guide.css" />
{% endblock css %}

{% block js %}
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
{% endblock js %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/dev-guide-theme.css" />
<section>
	<h1>Module Developer's Guide</h1>
	This page contains information neassesary to develop modules for Planeshift. The content of a module is described, as well as how to define metadata such as description and icon image. Documentation of the plane context and js-API needed to communicate with the server is also found here.

	<div class="center-content">
	<img src="/static/img/dev-guide/developer-module-structure.png" alt="Overview of Content vs. Metadata">
	</div>

	<h2>Content</h2>
	<p>A module's content defines its functionality. A module is developed using primarily javascript and html. The content is what will be seen on a plane that is using the module. The content consists of the mandatory file <i>main.js</i>, the optional <i>index.html</i>, and additional resources such as images or css.</p>

	<h3>main.js</h3>
	<p>This file is mandatory and contains the module's js-code. The module code has access to a <a href="#api">Plane API</a> for server communication.</p>

	<h3>index.html</h3>
	<p>This file is optional and contains the module's html-code. The html has access to some <a href="#context">jinja variables</a>.</p>

	<h3>extra resources</h3>
	<p>The extra resources are any optional resources used by the module such as images or css. These files are uploaded along with the other files.</p>

	<h2>Metadata</h2>
	<p>The metadata consists of a display icon and a module description. The files used are uploaded along with the content using reserved names for easy integration with e.g. git repositories.</p>

	<h3>icon</h3>
	<p><i>icon</i> is an image file used to give the module a graphical representation on the website. The icon can be any image that can be displayed by a browser as long as it is named <i>icon</i>. There are no mandatory dimensions for the image, but a relatively small square image is recommended (e.g. 250x250 px). The icon file is uploaded along with the content. In the absence of an icon file the module will use a randomized default image.</p>

	<h3>README.md</h3>
	<p>The module description is uploaded as a <i>README.md</i> file along with the content. The description supports <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet">markdown</a> text formatting. In the absence of a README.md file the description will use a default text.</p>
</section>

<section>
<h1>Plane Context</h1>
<a name="context"></a>
<p>When designing your module you will have access to some surrounding infrastructure. There will be some facilities provided to you locally through the <i>index.html</i> page, and some remotely on the server through the js-api.
</p>

<h3>Local Context</h3>
<p>
	The context provided each plane in their <i>index.html</i> consists of jinja variables that can be used for static display, a js-api for communicating with the server and <a href="https://jquery.com">jQuery-3.1.1</a>. The Jinja context will be sandboxed, meaning that some attributes and methods are prohibited. For more details of how Jinja templates work, you can have a look at their <a href="http://jinja.pocoo.org/docs/2.9/">documentation</a>.
</p>
<dl>
	<dt>current_user</dt>
		<dd>Name of the current logged in user.</dd>
	<dt>module_path</dt>
		<dd>Path to where the module resources can be found.</dd>
	<dt>plane_name</dt>
		<dd>Name of the current plane.</dd>
</dl>

<p>
	For example should your module include an image as a resource, you can include it in your html as
</p>
<pre class="prettyprint linenums">
&ltimg src="{% raw %}{{module_path}}{% endraw %}/image.png">
</pre>

<h3>Remote Contex</h3>
<p>Each plane is additionally provided a storage area on the server called the plane storage. This storage can be interacted with through the js-api. It can be used to store information that is public to all players connected to the plane, and also have methods for providing per-user storage. The storage is persistent across user logins and will be deleted when the plane is deleted.</p>
</section>






<section>
	<h1>Plane API</h1>
	<a name="api"></a>
	<!-- API -->
	<p>The API defines a number of functions to make your life easier.</p>
	<ul>
		<li><a href="#get_plane_name">get_plane_name</a></li>
		<li><a href="#get_user_name">get_user_name</a></li>
		<li><a href="#get_connected_users">get_connected_users</a></li>
		<li><a href="#set_data">set_data</a></li>
		<li><a href="#get_data">get_data</a></li>
		<li><a href="#set_user_data">set_user_data</a></li>
		<li><a href="#get_user_data">get_user_data</a></li>
	</ul>

	<p>The first three of these provide information about the plane the module is running in. The last four provide communication with the server backend and the storage area associated with the plane. The storage area is intended for smaller amounts of structured json data.</p>

	<p>The code snippet below shows the basics of interaction with the API. Consider a very simple game where there are two players and they can collect both points and fouls. One, somewhat contrieved, way of organising this data is seen below together with example code for storing and retrieving the information from the server. For fully functioning examples, you can check out the <a href="https://github.com/ashlaban/m7011e-planeshift/tree/master/external/catan">Catan</a> and <a href="https://github.com/ashlaban/m7011e-planeshift/tree/master/external/dice">Dice Roller</a> modules on github.</p>

<pre class="prettyprint linenums">
// Define the data
var success = function (data) {console.log(data);}
var data    = {player1: 0, player2: {points: 1, fouls: 1}};

// Send the data to the server
set_data(data);

// Get all data in the plane storage
// Prints {player1: 0, player2: {points: 1, fouls: 1}}
get_data(true, success);

// Get only one particular key
// Prints {player1: 0}
get_data('player1', success);
</pre>

<p>
	Deeper nesting is also possible.
</p>

<pre class="prettyprint linenums">
// Prints {player2: {points: 1, fouls: 1}}
get_data('player2', success);

// Prints {player2: {points: 1}}
get_data({player2: {points: true}}, success);
</pre>





<a name="get_plane_name"></a>
<h2>get_plane_name()</h2>

<a name="get_plane_name"></a>
<p>Returns the name of the current plane as a string.</p>

<h3>Example</h3>
<pre class="prettyprint linenums">
var plane_name = get_plane_name();

// Prints "test-plane" when run in a plane created with this 
//   name.
console.log(plane_name);
</pre>

<a name="get_username"></a>
<h2>get_username()</h2>
<p>Get the username of the current user as a string.</p>
<h3>Example</h3>
<pre class="prettyprint linenums">
var username = get_username();

// Prints "Cassie" for user Cassie
console.log(username);
</pre>

<a name="get_connected_users"></a>
<h2>get_connected_users()</h2>

<p>
	Get an array of usernames connected to the plane by using the function below. The returned list contains recently active usernames. Disconnects are not guaranteed to be noticed immediately.
</p>

<h3>Example</h3>
<p>If there are two users, John and Cassie connected, the following code will print their names.</p>
<pre class="prettyprint linenums">
var users = get_connected_users();

// Prints
// 	"John"
// 	"Cassie"
for (user : users) {
	console.log(user);
}
</pre>




<a name="set_data"></a>
<h2>set_data(data, success, error)</h2>

<p>The function <i>set_data</i> is used to store data in the plane storage.</p>

<p>The parameter key is a string or json object specifying the path to the object to retrieve. The parameters success nad error are callbacks for handling a successful and failed call respectively. The success callback should take as argument the returned data, the error callback should take the request as argument.</p>

<h3>Example</h3>
<p>Inserting a new entry in the store is possible. The object as a whole will be added and can later be retrieved, in whole or in part, by <i>get_data</i>.</p>
<pre class="prettyprint linenums">
// In store: {
//	Cassie: {inventory: {sword: {value: 100}}},
// }

// Get all data in the plane user store
// In store after: {
//	Cassie: {inventory: {sword: {value: 100}}},
//	John:   {inventory: {bow  : {value: 50 }}},
// }
var data = {John: {inventory: {bow  : {value: 50 }}}};
set_data(data);
</pre>

<p>Updating a value is also possible. The difference between the two objects will be noted and the object in the store will be updated with the new values. In this way partial updates can be applied. This can be combined with adding values.</p>
<pre class="prettyprint linenums">
// In store: {
//	Cassie: {inventory: {sword: {value: 100}}},
//	John:   {inventory: {bow  : {value: 50 }}},
// }

// Get all data in the plane user store
// In store after: {
//	Cassie: {inventory: {sword: {value: 100}}},
//	John:   {inventory: {bow  : {value: 250}}},
// }
var data = {John: {inventory: {bow  : {value: 250 }}}};
set_data(data);
</pre>

<p>The callbacks use different parameters. The success callback will be provided the retrieved data while the error callback will be provided a status message.</p>

<pre class="prettyprint linenums">
var success = function (status) {console.log(status);}
var error   = function (status) {console.log(status);}

// Use like so
// Prints {status: "ok", msg: "Data stored successfully."}
// on success.
set_data(data, success, error)
</pre>



<a name="get_data"></a>
<h2>get_data(key, success, error)</h2>

<p>The function <i>get_data</i> is used to retrieve data from the plane storage.</p>

<p>The parameter key is a string or json object specifying the path to the object to retrieve. The parameters success and error are callbacks for handling a successful and failed call respectively. The success callback should take as argument the returned data, the error callback should take the request as argument.</p>

<h3>Example</h3>
<p>When retrieving data from the server one can retrieve data in a number of ways, there are two different syntaxes that are acceptable. The first is to use a json object to specify the path to the object you want fetched. The second is to specify a key as a string. Note that this second syntax cannot access nested elements. Also note that to access all data in the store as a single json object use the path <i>true</i>.</p>
<pre class="prettyprint linenums">
// In store: {
//	Cassie: {inventory: {sword: {value: 100}}},
//	John:   {inventory: {bow  : {value: 50 }}},
// }

// Get all data in the plane user store
// Prints {
//	Cassie: {inventory: {sword: {value: 100}}},
//	John:   {inventory: {bow  : {value: 50 }}},
// }
get_data(true);

// Get the json object under a specific key
// print {Cassie: {inventory: {sword: {value: 100}}}}
get_data('Cassie');
get_data({Cassie: true});

// Get the json object stored under a nested key
// Prints {inventory {sword: {value: 100}}}
get_data({Cassie: {inventory: true}});
</pre>

<p>The callbacks use different parameters. The success callback will be provided the retrieved data while the error callback will be provided a status message.</p>

<pre class="prettyprint linenums">
var success = function (data)    {console.log(data);  }
var error   = function (status)  {console.log(status);}

// Use like so
get_data(key, success, error)
</pre>

<p>On error a message indicating the status and the reason behind the error will be provided the callback.</p>
<pre class="prettyprint linenums">
{
	'status': 'error',
	'msg'   : 'Reason be provided here.',
}
</pre>




<a name="set_user_data"></a>
<h2>set_user_data(data, success, error)</h2>

<p>The function <i>set_user_data</i> is shorthand for storing data in the per-user section of the plane storage. It is functionally equivalent to</p>

<pre class="prettyprint linenums">
var data     = {key: value};
var username = get_username();
var wrapper  = {username: data};
set_data(wrapper);
</pre>

<h3>Example</h3>
<p>The same access techniques as for <i>set_data</i> can be used for this function, however the current user's username can be omitted.</p>

<pre class="prettyprint linenums">
// In store: {
//	Cassie: {inventory: {sword: {value: 100}}},
//	John:   {inventory: {bow  : {value: 50 }}},
// }

// Get all data in the plane user store
// In store after: {
//	Cassie: {inventory: {sword: {value: 250}}},
//	John:   {inventory: {bow  : {value: 50 }}},
// }
// (If the current user's username is Cassie.)
var data = {inventory: {sword  : {value: 250 }}};
set_user_data(data);
</pre>

<p>Both the success and error callbacks will be provided a status object containing a status code and a message describing the success or failure reason.</p>

<pre class="prettyprint linenums">
var success = function (status) {console.log(status);}
var error   = function (status) {console.log(status);}

// Use like so
// Prints {status: "ok", msg: "Data stored successfully."}
// on success.
set_user_data(data, success, error)
</pre>



<a name="get_user_data"></a>
<h2>get_user_data(key, success, error)</h2>

<p>The function <i>get_user_data</i> is shorthand for accessing data stored in the per-user section of the plane storage. It is functionally equivalent to</p>
<pre class="prettyprint linenums">
var username = get_username();
get_data(wrapper);
</pre>

<h3>Example</h3>
<p>The same access techniques as for <i>get_data</i> can be used for this function, however the current user's username can be omitted.</p>
<pre class="prettyprint linenums">
// In store: {
//	Cassie: {inventory: {sword: {value: 100}}},
//	John:   {inventory: {bow  : {value: 50 }}},
// }

// Get all data in the plane user store
// Prints {Cassie: {inventory: {sword: {value: 100}}}}
// (If user is indeed Cassie.)
get_user_data(true);

// Get the json object under a specific key
// print {inventory: {sword: {value: 100}}}
get_user_data('inventory');
get_user_data({inventory: true});

// Get the json object stored under a nested key
// Prints {sword: {value: 100}}
get_user_data({inventory: {sword: true}});
</pre>

</section>
{% endblock content %}
