{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/dev-guide.css" />
<link rel="stylesheet" type="text/css" href="/static/css/dev-guide-theme.css" />
{% endblock css %}

{% block js %}
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
{% endblock js %}

{% block content %}
<section class="center-content">
	<h1>Module Developer's Guide</h1>
	This page contains information neassesary to develop modules for Planeshift. The content of a module is described, as well as how to define metadata such as description and icon image. Documentation of the plane context and js-API needed to communicate with the server is also found here.

	<h2>Content</h2>
	<p>A modules content defines its functionality. A module is developed using primarily javascript and html. The content is what will be seen on a plane that is using the module. The content consists of the mandatory files <i>main.js</i> and <i>index.html</i>, and additional resources such as images.</p>

	<h3>main.js</h3>
	<p>Description</p>

	<h3>index.html</h3>
	<p>Description</p>

	<h3>extra resources</h3>
	<p>Description</p>

	<h2>Metadata</h2>
	<p>Desc. of what metadata is.</p>

	<h3>icon</h3>
	<p>Description</p>

	<h3>README.md</h3>
	<p>Description</p>
</section>

<section class="center-content">
	<h1>Plane Context</h1>
	<p>Each plane has a context defined. It is: </p>
	<dl>
		<dt>PLANE_NAME</dt><dd>testa sdf asdfasdfv abfra d gaodi öfjöals djfölak sjd fölka jsfaenr1</dd>
		<dt>PLANE_NAME</dt><dd>test2</dd>
		<dt>PLANE_NAME</dt><dd>test4</dd>
	</dl>

</section>

<section class="center-content">
	<h1>Plane API</h1>
	<a name="api"></a>

	<h2>get_user_data</h2>
	<h3>Example</h3>
	<pre class="prettyprint linenums">
<code>def main():
    test = "hello world!"
    return test</code>
</pre>


</section>
{% endblock content %}
