{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css" />
{% endblock css %}

{% block content %}
<section id="about" class="center-content">
	<div class="section-content center-content">
			<h1 class="title half">PLANESHIFT</h1>
			<p class="half">Planeshift is primarily for helping role and board game players during their sessions with digitalized resources. However, the system should be general enough that any kind of meeting involving people and a table can be augmented.</p>
	</div>
</section>

<section id="img-filler" class="center-content">
	<div class="section-content center-content">
	</div>
</section>

<section id="stay-tuned" class="center-content">
	<div class="section-content center-content">
		<p>Stay tuned for more!</p>
	</div>
</section>
{% endblock %}