{% extends "base.html" %}

{% block css %}
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/ko.js"></script>
{% endblock css %}

{% block content %}
	<script type="text/javascript" charset="utf-8">
		function login(username, password) {
			var data = {
				username: username,
				password: password,
			};
			
			$.ajax({
				type: 'POST',
				url: "/api/login",
				data: JSON.stringify(data),
				dataType: 'json',
				processData: false,
				contentType: 'application/json; charset=utf-8',
				success: function(data) {
					window.location = '/';
				},
				error: function(response) {
					console.log(response)
					$('#info').html(response.responseJSON.msg);
				},
			});
		}

		function loginForm(form) {
			// This is for Safari
			var username = $('#username')[0].value
			var password = $('#password')[0].value
			login(username, password);

			// This is for browsers conforming to the File API
			// var fd = new FormData(form);
			// login(fd.get('username'), fd.get('password'));
		}

		$(document).ready( function () {
			var form = document.getElementById('login-form');
			form.addEventListener('submit', function(ev) {
	  			ev.preventDefault();
	  			loginForm(form);
			}, false);
		});
		
	</script>

	<section class="center-content top-padding-md">
		<div class="form-box rounded center-content">
			<h1>Login</h1>

			<div id="info"></div>

			<form class="form center-content" id="login-form" action="" method="post" name="login" class="center-content top-padding-md">
				{{ form.username(class='wide-form-field', placeholder='username') }}
				{{ form.password(class='wide-form-field', placeholder='password') }}
				<input class='btn' type="submit" value="Log in">
			</form>
		</div>
	</section>
{% endblock content %}
