{# 
	Macros for increased consistency across the static part of the web app. 
#}

{# === Badges === #}
{# Used for displaying short info #}

{% macro badge_password_protected() %}
{{ badge_simple('fa-lock', 'Password protected') }}
{% endmacro %}

{% macro badge_connected_users() %}
{{ badge_simple(
	'fa-user',
	'Connected users',
	'<span data-bind="text: users.length"></span>'
)}}
{% endmacro %}

{% macro badge_simple(icon, text, html) %}
<span class="badge badge--foldable">
	<i class="fa {{icon}} fa-lg" aria-hidden="true"></i>
	<span class="badge--fold">{{text}}</span>
	{{html|safe}}
</span>
{% endmacro %}

{# === Badge Buttons === #}
{# These are as badges but also clickable #}

{% macro button_simple(icon, text, redirect, open_in_new_tab) %}
<div class="btn badge badge--foldable">
	{% if open_in_new_tab: %}
		<a href="{{redirect}}" target="_blank">
	{% else: %}
		<a href="{{redirect}}">
	{% endif %}

		<i class="fa {{icon}} fa-lg" aria-hidden="true"></i>
		<span class="badge--fold">{{text}}</span>
	</a>
</div>
{% endmacro %}

{% macro button_new_plane() %}
{{ button_simple("fa-plus", "New Plane", "/planes/create", false) }}
{% endmacro %}

{% macro button_new_module() %}
{{ button_simple("fa-plus", "New Module", "/modules/create", false) }}
{% endmacro %}

{% macro button_new_icon() %}
{{ button_simple("fa-image", "New Icon", "/dev-guide#icon", true)}}
{% endmacro %}

{% macro button_new_description() %}
{{ button_simple("fa-pencil-square-o", "New Description", "/dev-guide#README.md", true)}}
{% endmacro %}

{# === Buttons === #}
{# Buttons in the more traditional sense #}

{% macro button(icon, text, id) %}
<button id="{{id}}" class="btn" href="">
	<i class="fa {{icon}}" aria-hidden="true"></i>
	{{text}}
</button>
{% endmacro %}
