<nav>
	<ul>
		<li id="logo"><a href="/">PLANESHIFT</a></li>
		<li class="nav-button"><a href="/about"  >About</a></li>
		<li class="nav-menu">
			<a class="nav-sub-button" href="/planes" >Planes</a>
			<ul>
				<li><a class="nav-sub-button" href="/planes">List</a></li>
				<li><a class="nav-sub-button" href="/planes/create">Create</a></li>
			</ul>
		</li>
		<li class="nav-menu">
			<a class="nav-sub-button" href="/modules">Modules</a>
			<ul>
				<li><a class="nav-sub-button" href="/modules">List</a></li>
				<li><a class="nav-sub-button" href="/modules/create">Create</a></li>
			</ul>
		</li>
		
		<li class="nav-filler"></li>

		{% if g.user.is_authenticated %}
		<li class="nav-button"><a href="/profile">Profile</a></li>
		<li class="nav-button"><a href="/logout" >Logout</a></li>
		{% else %}
		<li class="nav-button"><a href="/signup">Signup</a></li>
		<li class="nav-button"><a href="/login" >Login</a></li>
		{% endif %}
	</ul>
</nav>
