<nav>
	<a href="/" class="nav-item">PLANESHIFT</a>
	<a class="nav-item" href="/about"  >About</a>
	<a class="nav-item" href="/planes" >Planes</a>
	<a class="nav-item" href="/planes/create" >Create plane</a>
	<a class="nav-item" href="/modules">Modules</a>
	<span class="nav-filler nav-item"></span>

	{% if g.user.is_authenticated %}
	<a class="nav-item" href="/profile">Profile</a>
	<a class="nav-item" href="/logout" >Logout</a>
	{% else %}
	<a class="nav-item" href="/signup">Signup</a>
	<a class="nav-item" href="/login" >Login</a>
	{% endif %}
</nav>
