<nav>
	<ul>
		<li id="logo" class="nav-button"><a href="/">PLANESHIFT</a></li>
		<li class="nav-menu">
			<a class="nav-sub-button" href="/about" >About</a>
			<ul>
				<li><a class="nav-sub-button" href="/about">About</a></li>
				<li><a class="nav-sub-button" href="/dev-guide">Module dev</a></li>
			</ul>
		</li>
		<li class="nav-menu">
			<a class="nav-sub-button" href="/planes" >Planes</a>
			<ul>
				<li><a class="nav-sub-button" href="/planes">List</a></li>
				{% if g.user.is_authenticated %}
				<li><a class="nav-sub-button" href="/planes/create">Create</a></li>
				{% endif %}
			</ul>
		</li>
		<li class="nav-menu">
			<a class="nav-sub-button" href="/modules">Modules</a>
			<ul>
				<li><a class="nav-sub-button" href="/modules">List</a></li>
				{% if g.user.is_authenticated %}
				<li><a class="nav-sub-button" href="/modules/create">Create</a></li>
				{% endif %}
			</ul>
		</li>
		
		<li class="nav-filler"></li>

		{% if g.user.is_authenticated %}
		<li class="nav-menu">
			<a class="nav-sub-button" href="/profile">{{ g.user.username }}</a>
			<ul>
				<li><a class="nav-sub-button" href="/profile">Profile</a></li>
				<li><a class="nav-sub-button" href="/logout">Logout</a></li>
			</ul>
		</li>
		{% else %}
		<li class="nav-button"><a href="/signup">Signup</a></li>
		<li class="nav-button"><a href="/login" >Login</a></li>
		{% endif %}
	</ul>
</nav>
