{% extends "base.html" %}

{% block css %}
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/ko.js"></script>
{% endblock css %}

{% block content %}
	<script type="text/javascript" charset="utf-8">
		function signup(username, password, email, password_confirm) {
			var data = {
				username: username,
				password: password,
				email: email,
				confirm: password_confirm,
			};
			
			$.ajax({
				type: 'POST',
				url: "/api/signup",
				data: JSON.stringify(data),
				dataType: 'json',
				processData: false,
				contentType: 'application/json; charset=utf-8',
				success: function(data) {
					window.location = '/';
				},
				error: function(response) {
					$('#info').html(response.responseJSON.msg);
				},
			});
		}

		function signupForm(form) {
			// This is for Safari
			var username = $('#username')[0].value
			var password = $('#password')[0].value
			var email    = $('#email')[0].value
			var confirm  = $('#confirm')[0].value
			signup(username, password, email, confirm);

			// This is for browsers conforming to the File API
			// var fd = new FormData(form);
			// signup(fd.get('username'), fd.get('password'), fd.get('email'), fd.get('confirm'));
		}

		$(document).ready( function () {
			var form = document.getElementById('signup-form');
			form.addEventListener('submit', function(ev) {
	  			ev.preventDefault();
	  			signupForm(form);
			}, false);
		});
		
	</script>

	<section class="center-content top-padding-md">
		<div class="form-box rounded center-content">
			<h1>Sign up</h1>

			<div id="info"></div>

			<form id="signup-form", class="form center-content" action="" method="post" name="signup" class="center-content top-padding-md">
				{{ form.hidden_tag()  }}
				{{ form.username(
					class='wide-form-field',
					placeholder='username')
				}}
				{{ form.email(
					class='wide-form-field',
					placeholder='email address')
				}}
				{{ form.password(
					class='wide-form-field',
					placeholder='password')
				}}
				{{ form.confirm(
					class='wide-form-field',
					placeholder='confirm password')
				}}
				<input class='btn' type="submit" value="Sign Up">
			</form>
		</div>
	</section>
{% endblock  content %}